<h1>New entitlement</h1>

<% form_for(@entitlement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :badge_id %><br />
    <%= f.text_field :badge_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :free_bets %><br />
    <%= f.text_field :free_bets %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', entitlements_path %>